name: Main

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest ]
        php: [ 8.1, 8.2, 8.3, 8.4 ]
        laravel: [ 10, 11 ]
        dependency-version: [ prefer-lowest, prefer-stable ]
        exclude:
          - php: 8.1
            laravel: 11

    name: Tests PHP${{ matrix.php }} - Laravel v${{ matrix.laravel }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup PHP Environment
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip
          coverage: none

      - name: Cache Composer Dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-L${{ matrix.laravel }}-${{ matrix.dependency-version }}-composer-${{ hashFiles('composer.json') }}

      - name: Install Composer Dependencies
        run: composer install --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Run PHPUnit Tests
        run: vendor/bin/phpunit --log-junit phpunit-report.xml

      - name: Upload PHPUnit Report
        uses: actions/upload-artifact@v4
        with:
          name: phpunit-report-php${{ matrix.php }}-laravel-${{ matrix.laravel }}
          path: phpunit-report.xml